<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">修改餐廳資料<i class="fas fa-key"></i></h5>
          <hr>
          <form method="POST" action="/restaurants/{{ restaurant._id }}?_method=PUT">

            <div class="row g-2 mb-3">
              <label for="name" class="col-md-4 col-form-label">
                餐廳名稱
              </label>
              <div class="col-md-8"> 
                <input type="text" name="name" class="form-control" id="name" placeholder="請輸入餐廳名稱..." value="{{ restaurant.name }}" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="name_en" class="col-md-4 col-form-label">
                餐廳英文名稱
              </label>
              <div class="col-md-8">
                <input type="text" name="name_en" class="form-control" id="name_en" placeholder="請輸入餐廳英文名稱..." value="{{ restaurant.name_en }}" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="category" class="col-md-4 col-form-label">
                類別
              </label>
              <div class="col-md-8">
                <input type="text" name="category" class="form-control" id="category" placeholder="請輸入餐廳類別..." value="{{ restaurant.category }}" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="image" class="col-md-4 col-form-label">
                圖片位址
              </label>
              <div class="col-md-8">
                <input type="url" name="image" class="form-control" id="image" placeholder="請輸入餐廳完整圖片位址.." value="{{ restaurant.image }}" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="location" class="col-md-4 col-form-label">
                地址
              </label>
              <div class="col-md-8">
                <input type="text" name="location" class="form-control" id="location" placeholder="請輸入餐廳地址..." value="{{ restaurant.location }}" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="phone" class="col-md-4 col-form-label">
                電話
              </label>
              <div class="col-md-8">
                <input type="tel" name="phone" class="form-control" id="phone" placeholder="請輸入餐廳電話..." value="{{ restaurant.phone }}" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="google_map" class="col-md-4 col-form-label">
                Google Map
              </label>
              <div class="col-md-8">
                <input type="url" name="google_map" class="form-control" id="google_map" placeholder="請輸入餐廳完整google map網址..." value="{{ restaurant.google_map }}" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="rating" class="col-md-4 col-form-label">
                評分
              </label>
              <div class="col-md-8">
                <input type="number" name="rating" class="form-control" id="rating" placeholder="請輸入餐廳評分..." value="{{ restaurant.rating }}" step="0.1" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="description" class="col-md-4 col-form-label">
                詳細敘述
              </label>
              <div class="col-md-8">
                <input type="text" name="description" class="form-control" id="description" placeholder="請輸入餐廳敘述..." value="{{ restaurant.description }}" required>
              </div>
            </div>




            <button class="btn btn-success" type="submit">Edit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

